.surveyManager {
    height: 100vh;
    background: lightgreen;
    margin-top: -56px;
    padding-top: 56px;
    position: relative;
}

.consent-copy {
    text-align: left;
    max-width: 770px;
    margin: 0 auto 2rem;
    max-height: 500px;
    overflow-y: scroll;
}

.initialIssuesIntro {
    background: white;
    border: 1px solid #333;
    max-width: 700px;
    z-index: 10;
}

.issue-row {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.issue-card.empty {
    background: lightgreen;
}
.issue-card.card {
    margin: 1rem;
    padding: 20px;
    max-width: 200px;

    border: 2px solid darkgreen;
    /* box-shadow: inset 4px 0px 2px rgba(25, 100, 25, 0.6), inset -3px -4px 2px rgba(0, 0, 0, .4); */
    box-shadow: inset 7px 0px 2px rgba(25, 180, 25, 1), inset -3px -6px 2px rgba(0, 0, 0, .4);
    transform: rotate3d(1, 1, 1, -75deg);
}
.issue-card.card h5 {
    font-weight: 800;
}

.surveySection {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 4rem;
}

.social-values-sec1-issue-modal,
.social-values-copy-modal {
    background: rgba(255,255,255,0.95);
    margin: 4rem auto 2rem;
    padding: 2rem;
    text-align: left;

    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #333;
    max-width: 675px;
}
.social-values-sec1-issue-modal {
    max-width: 570px;
}

.social-values-sec1-issue-modal h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.sec1-issue-bottom {
    display: flex;
    justify-content: space-between;
}

.sec1-issue-image {
    height: 135px;
    width: 240px;
    background-repeat: no-repeat;
    background-size: 240px auto;
}
.sec1-issue-problem-statement {
    width: 200px;
    font-weight: 500;
}

.sec1-issue-selections {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: auto;
}

.sec2-issue-categorize {

}

.sec2-issue-categorize .issue-drop {
    display: flex;
}


.sec2-issue-categorize .issue-drop .cat {
    margin: 1rem;
    flex-grow: 1;
    height: 380px;
}
.sec2-issue-categorize .cat.most-important {
    background: lightgreen;
}
.sec2-issue-categorize .cat.less-important {
    background: lightgray;
}