.surveyManager {
    height: 100vh;
    background: lightgreen;
    margin-top: -56px;
    padding-top: 56px;
    position: relative;
}

.consent-copy {
    text-align: left;
    max-width: 770px;
    margin: 0 auto 2rem;
    max-height: 500px;
    overflow-y: scroll;
}

.initialIssuesIntro {
    background: white;
    border: 1px solid #333;
    max-width: 700px;
    z-index: 10;
}

.surveySection {
    position: fixed;
    width: 100%;
}










/** 
    SURVEY BUTTONS

*/
.btn-black {
    color: #fff;
    background-color: #333;
    border-color: #000;
    cursor: pointer;
}
.btn-black:hover {
    background-color: #666;
    border-color: #333;
}
.btn-black:not(:disabled):not(.disabled):active {
    background-color: #333;
}

.btn-grey {
    color: #fff;
    background-color: #999;
    border-color: #333;
}
.btn-grey:hover {
    background-color: #888;
}
.btn-grey:not(:disabled):not(.disabled):active {
    background-color: #999;
}






/*
    SURVEY BACKGROUNDS
*/
.survey-green-bg,
.survey-issues-bg,
.survey-black-bg {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -10;
}

.survey-issues-bg {
    background: url('/images/issues-bg.png');
    background-size: cover;
}
.survey-issues-bg:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: #000; */
    z-index: -9;
    opacity: 0.3;
}
.survey-green-bg {
    background: lightgreen;
}
.survey-black-bg {
    background: black;
}













/**
    Figure Styles
*/
.figure_handsonhips_center {
    position: absolute;
    bottom: 0;
    height: 50%;
    z-index: 10;

    left: 50%;
    transform: translateX(-50%);
}

.figure_handsonhips_center img {
    height: 100%;
}

.figure_pondering img {
    height: 175%;
    transform: rotateY(180deg);
}
.figure_pondering {
    position: absolute;
    height: 210px;
    z-index: 10;

}
.figure_pondering_large_top {
    height: 50%;
    overflow: hidden;
}
.figure_pondering_large_top img {
    height: 175%;
}
.figure_pondering_center_bottom {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.figure_pondering_left_bottom {
    left: 40px;
    bottom: 0;
}









/**
    SURVEY MODALS
*/
.sec1-inner-h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
}





/**
    ISSUE INFO MODAL
*/

.issueInfoModal {
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    bottom: 0;
    overflow-y: scroll;
}
.issueInfoModal .social-values-copy-modal {
    position: relative;
    background: white;
}
.issueInfoModal .social-values-copy-modal h1 {
    padding: 0;
}
.issueInfoModal-cancel {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: #eee;
    border-radius: 50%;
    border: 1px solid #aaa;
    cursor: pointer;
    display: flex;
}
.issueInfoModal-cancel span {
    margin: auto;
}

.IssueInfoModal-issueImage {
    height: 236px;
    width: 420px;
    background-repeat: no-repeat;
    background-size: 420px auto;
    margin: 1rem auto;
}







/*
    SECTION 2 
*/
.tray-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}












/*
    SECTION 3
*/
.sec3-content-wrap h1 {
    color: #fff;
    margin: 1rem 0 0;
}


.sec3-issueDetail {
    padding: 0 2rem 2rem;
}

.sec3-issue-copy {
    background: #fff;
    margin: 2rem auto 2rem;
    padding: 2rem;
    text-align: left;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #333;
}

.sec3-issue-image {
    height: 191px;
    width: 340px;
    background-repeat: no-repeat;
    background-size: 340px auto;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.sec3-issue-bottomForm {
    padding: 2rem;
    margin-top: 2rem;
    background: white;
    margin-left: 200px;
}

.sec3-content-wrap {
    height: 100vh;
    overflow-y: scroll;
}

.sec3-issueDetail .motivation {
    padding: 2rem;
    border: 1px solid #eee;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: inset -1px -1px 3px #aaa, inset 1px 1px 3px #666;
    margin-bottom: 2rem;
}



/* Custom handles */
.sec3-motivation-range,
.sec3-position-range {
    margin: 0 5rem;
}
.sec3-motivation-range p,
.sec3-position-range p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* Postion Range */
.sec3-position-range input {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
.sec3-position-range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
.sec3-position-range input::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
}
.sec3-position-range input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
}
.sec3-position-range input:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
.sec3-position-range input::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}
.sec3-position-range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
  
.sec3-position-range input:focus::-webkit-slider-runnable-track {
    background: #367ebd;
} 
.sec3-position-range input::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.sec3-position-range input::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
.sec3-position-range input::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.sec3-position-range input:focus::-ms-fill-lower {
    background: #3071a9;
}
.sec3-position-range input::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.sec3-position-range input:focus::-ms-fill-upper {
    background: #367ebd;
}
/* Motivation */
.sec3-motivation-range input {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
.sec3-motivation-range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
.sec3-motivation-range input::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
}
.sec3-motivation-range input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
}
.sec3-motivation-range input:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
.sec3-motivation-range input::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}
.sec3-motivation-range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
  
.sec3-motivation-range input:focus::-webkit-slider-runnable-track {
    background: #367ebd;
} 
.sec3-motivation-range input::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.sec3-motivation-range input::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
.sec3-motivation-range input::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.sec3-motivation-range input:focus::-ms-fill-lower {
    background: #3071a9;
}
.sec3-motivation-range input::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.sec3-motivation-range input:focus::-ms-fill-upper {
    background: #367ebd;
}








.sec3-motivation-range input,
.sec3-position-range input {
    width: 80%;
}

.sec3-motivation-range .input-prefix,
.sec3-motivation-range .input-suffix,
.sec3-position-range .input-prefix,
.sec3-position-range .input-suffix {
    display: flex;
    align-items: center;
}
.sec3-motivation-range .input-prefix-cue,
.sec3-motivation-range .input-suffix-cue,
.sec3-position-range .input-prefix-cue,
.sec3-position-range .input-suffix-cue {
    font-size: 2rem;
    color: #3071a9;
}
.sec3-motivation-range .input-prefix-label,
.sec3-motivation-range .input-suffix-label,
.sec3-position-range .input-prefix-label,
.sec3-position-range .input-suffix-label {
    width: 120px;
    font-size: 0.8rem;
    text-align: center;
}
.sec3-motivation-range .input-suffix-label,
.sec3-position-range .input-suffix-label {
    text-align: left;
}

.range-feedback {
    font-weight: 700;
}