.surveyManager {
    height: 100vh;
    background: lightgreen;
    margin-top: -56px;
    padding-top: 56px;
    position: relative;
}

.initialIssuesIntro {
    background: white;
    border: 1px solid #333;
    max-width: 700px;
    z-index: 10;
}

.surveySection {
    position: fixed;
    width: 100%;
}










/** 
    SURVEY BUTTONS

*/
.btn-black {
    color: #fff;
    background-color: #333;
    border-color: #000;
    cursor: pointer;
}
.btn-black:hover {
    background-color: #666;
    border-color: #333;
}
.btn-black:not(:disabled):not(.disabled):active {
    background-color: #333;
}

.btn-grey {
    color: #fff;
    background-color: #999;
    border-color: #333;
}
.btn-grey:hover {
    background-color: #888;
}
.btn-grey:not(:disabled):not(.disabled):active {
    background-color: #999;
}






/*
    SURVEY BACKGROUNDS
*/
.survey-green-bg,
.survey-issues-bg,
.survey-black-bg {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -10;
}

.survey-issues-bg {
    background: url('/images/issues-bg.png');
    background-size: cover;
}
.survey-issues-bg:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: #000; */
    z-index: -9;
    opacity: 0.3;
}
.survey-green-bg {
    background: lightgreen;
}
.survey-black-bg {
    background: black;
}













/**
    Figure Styles
*/
.figure_handsonhips_center {
    position: absolute;
    bottom: 0;
    height: 50%;
    z-index: 10;

    left: 50%;
    transform: translateX(-50%);
}

.figure_handsonhips_center img {
    height: 100%;
}

.figure_pondering img {
    height: 175%;
    transform: rotateY(180deg);
}
.figure_pondering {
    position: absolute;
    height: 210px;
    z-index: 10;

}
.figure_pondering_large_top {
    height: 50%;
    overflow: hidden;
}
.figure_pondering_large_top img {
    height: 175%;
}
.figure_pondering_center_bottom {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.figure_pondering_left_bottom {
    left: 40px;
    bottom: 0;
}









/**
    SURVEY MODALS
*/
.sec1-inner-h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
}












/**
    INFORMATIO ICON
*/
.information-icon {
    position: absolute;
    cursor: pointer;
}
.information-icon img {
    height: 30px;
    width: 30px;
    opacity: 0.7;
    transition: opacity .3s ease;

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.information-icon img:hover {
    opacity: 1;
}

.sec1_thought_bubble .information-icon {
    right: 10px;
    top: 10px;
}
.issue-card .information-icon {
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
}






/**
    ISSUE INFO MODAL
*/

.issueInfoModal {
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    bottom: 0;
    overflow-y: scroll;
}
.issueInfoModal .social-values-copy-modal {
    position: relative;
    background: white;
}
.issueInfoModal .social-values-copy-modal h1 {
    padding: 0;
}
.issueInfoModal-cancel {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: #eee;
    border-radius: 50%;
    border: 1px solid #aaa;
    cursor: pointer;
    display: flex;
}
.issueInfoModal-cancel span {
    margin: auto;
}

.IssueInfoModal-issueImage {
    height: 236px;
    width: 420px;
    background-repeat: no-repeat;
    background-size: 420px auto;
    margin: 1rem auto;
}

.issue-info-modal-image {
    width: 80%;
    max-width: 600px;
    margin: 1rem auto;
}
.issue-info-modal-image img {
    width: 100%;
    height: auto;
}





/*
    SECTION 2 
*/
.sec2-issue-categorize {
    user-select: none;
}

.sec2-issue-categorize .issue-drop {
    display: flex;
}


.sec2-issue-categorize .issue-drop .cat {
    margin: 1rem;
    flex-grow: 1;
    height: 380px;
    position: relative;
}

.sec2-issue-categorize .cat.most_important {
    background: lightgreen;
}
.sec2-issue-categorize .cat.less_important {
    background: lightgray;
}

.issue-queue {
    background: #666;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 50px;
    left: 200px;
    right: -50px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: inset 2px 2px 10px rgba(25, 25, 25, 0.6), inset -3px -4px 2px rgba(0, 0, 0, 0.4);
}
.showInstructionsButton {
    border-radius: 15px;
    box-shadow: inset -2px -3px 5px #aaa;
    font-size: 0.8rem;
    cursor: pointer;
}
.showInstructionsButton:hover {
    background: #eee;
}
.issue-queue .showInstructionsButton {
    display: block;
    margin-left: 5px;
    margin-top: 2px;
}

.dropWrapper {
    display: flex;
    top: 60px;
    bottom: 0;
    position: absolute;
    width: 100%;
    flex-flow: column wrap;
    overflow: hidden;
}
.sec2 .sec1-inner button {
    margin-bottom: 2rem;
}
.tray-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-right: 200px;
}
.issue-row {
    display: flex;
    overflow: hidden;
    height: 180px;
    margin: 0 10px;
    flex-wrap: wrap;
}

.issue-card.card {
    flex-direction: column;
    justify-content: center;

    margin: 0.5rem;
    padding: 8px 45px 0px 15px;
    max-width: 225px;
    cursor: pointer;
    font-size: 1rem;
    
    border: 1px solid darkgreen;
    border-radius: 5px;
    box-shadow: inset 3px 1px 2px rgba(25, 180, 25, 1), inset -3px -4px 2px rgba(0, 0, 0, .4);
    max-height: 60px;
}

.issue-card.card h5 {
    font-weight: 800;
    font-size: 1rem;
}

.dropWrapper .issue-card.card h5 {
    font-weight: 700;
    font-size: 0.9rem;
}

.finishedButton:disabled,
.finishedButton {
    margin: auto;
    border-color: #555;
}

/******
        SECTION 2 INSTRUCTIONS
*/
.section2-instructions {
    margin-top: 1rem;
}
.section2-instructions .instruction-copy {
    color: white;
    max-width: 900px;
    margin: 2rem auto;
    text-align: left;
    padding: 1rem;
}











/*
    SECTION 3
*/
.sec3-content-wrap h1 {
    color: #fff;
    margin: 1rem 0 0;
}


.sec3-issueDetail {
    margin-left: 200px;
    padding: 0 2rem 2rem;
}

.sec3-issue-copy {
    background: #fff;
    margin: 2rem auto 2rem;
    padding: 2rem;
    text-align: left;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #333;
}

.sec3-issue-image {
    height: 191px;
    width: 340px;
    background-repeat: no-repeat;
    background-size: 340px auto;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.sec3-issue-bottomForm {
    padding: 2rem;
    margin-top: 2rem;
    background: white;
}

.sec3-content-wrap {
    height: 100vh;
    overflow-y: scroll;
}

.sec3-issueDetail .motivation {
    padding: 2rem 0;
    border: 1px solid #eee;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: inset -1px -1px 3px #aaa, inset 1px 1px 3px #666;
    margin-bottom: 2rem;
}

.surveySection.sec3 .figure_pondering {
    display: none;
}
.surveySection.sec3 .sec3-issueDetail {
    margin-left: 0px;
    padding: 0 1rem 2rem;
}

@media screen and (min-width: 960px) {
    .surveySection.sec3 .figure_pondering {
        display: block;
    }

    .surveySection.sec3 .sec3-issueDetail {
        margin-left: 200px;
        padding: 0 2rem 2rem;
    }
}


/* Custom handles */
.sec3-motivation-range,
.sec3-position-range {
    max-width: 1070px;
    margin: auto;
}
.sec3-motivation-range p,
.sec3-position-range p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* Postion Range */
.sec3-position-range input {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
.sec3-position-range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
.sec3-position-range input::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
}
.sec3-position-range input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
}
.sec3-position-range input:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
.sec3-position-range input::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}
.sec3-position-range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
  
.sec3-position-range input:focus::-webkit-slider-runnable-track {
    background: #367ebd;
} 
.sec3-position-range input::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.sec3-position-range input::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
.sec3-position-range input::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.sec3-position-range input:focus::-ms-fill-lower {
    background: #3071a9;
}
.sec3-position-range input::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.sec3-position-range input:focus::-ms-fill-upper {
    background: #367ebd;
}
/* Motivation */
.sec3-motivation-range input {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
.sec3-motivation-range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
.sec3-motivation-range input::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
}
.sec3-motivation-range input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
}
.sec3-motivation-range input:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
.sec3-motivation-range input::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}
.sec3-motivation-range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
  
.sec3-motivation-range input:focus::-webkit-slider-runnable-track {
    background: #367ebd;
} 
.sec3-motivation-range input::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.sec3-motivation-range input::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
.sec3-motivation-range input::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.sec3-motivation-range input:focus::-ms-fill-lower {
    background: #3071a9;
}
.sec3-motivation-range input::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.sec3-motivation-range input:focus::-ms-fill-upper {
    background: #367ebd;
}








.sec3-motivation-range input,
.sec3-position-range input {
    width: 80%;
    height:40px;
}

.sec3-motivation-range .input-prefix,
.sec3-motivation-range .input-suffix,
.sec3-position-range .input-prefix,
.sec3-position-range .input-suffix {
    display: flex;
    align-items: center;
}


.sec3-motivation-range .input-prefix-cue,
.sec3-position-range .input-prefix-cue {
    background-image: url('/images/arrow-blue.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    transform: rotateZ(180deg);
}

.sec3-motivation-range .input-suffix-cue,
.sec3-position-range .input-suffix-cue {
    background-image: url('/images/arrow-blue.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}




.sec3-motivation-range .input-prefix-label,
.sec3-motivation-range .input-suffix-label,
.sec3-position-range .input-prefix-label,
.sec3-position-range .input-suffix-label {
    width: 120px;
    font-size: 0.9rem;
    text-align: center;
}
.sec3-motivation-range .input-prefix-label,
.sec3-position-range .input-prefix-label {
    margin-right: 5px;
}
.sec3-motivation-range .input-suffix-label,
.sec3-position-range .input-suffix-label {
    margin-left: 5px;
}

.range-feedback {
    font-weight: 700;
}








.btn.finalIssueSelection {
    margin: 1rem;
}

.finalIssue-textarea {
    display: block;
    width: 100%;
    height: 150px;
}

.surveyFinal .issue-row {
    height: auto;    
}

.surveyFinal .issue-card {
    max-height: none;
    min-height: none;
    height: 90px;
}

.surveyFinal .issue-card.most_important {
    background: yellow;
}
.surveyFinal .issue-card.selected_issue {
    /* transform: scale(1.1); */
}
.surveyFinal .issue-card.selected_issue h5 {
    /* font-size: 1.2rem; */
}

.thank-you-copy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: black;
    color: white;
    padding: 1rem 2rem;
    z-index: 10;
}


