.surveyItem {
    margin: 2rem;
    padding: 2rem;
}

.surveyItem .row {
    margin: 2rem 0 1rem;
    justify-content: center;
}

.range-wr {
    width: 100%;
}

.range-wr input {
    width: 400px;
    margin-left: 30px;
    margin-right: 30px;
}

.radio-wr input {
    margin-left: 10px;
    margin-right: 10px;
}