/*
        HEIDWelcome
*/
.HEIDWelcome {
    max-width: 900px;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}


.HEIDWelcome .continue-btn {
    float: right;
}

.underlined-heading {
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: 700;
}

.welcome-inner-image {
    text-align: center;
}
.welcome-inner-image img {
    max-width: 600px;
}