
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-body {
  padding-top: 40px;
}


#jspsych-experiment {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}

pre {
  text-align: left;
  font-size: 0.7rem;
  background: #eee;
}

.icon {
  margin: 0 0 2rem;
  width: 180px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.instructions {
  width: 280px;
}

.icon.charity {
  background-image: url('/images/protestor-icon.png');
}
.icon.anti-charity {
  background-image: url('/images/anti-protestor-icon.png');
}
.icon.game {
  background-image: url('/images/game-icon.png');
}
.icon.self {
  background-image: url('/images/self-icon.png');
  border: 1px solid #aaa;
}