body > #root > div {
    height: 100vh;
  }

.bold {
    font-weight: bold;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 100;

  height: 0;
  overflow: hidden;
}

.App-body {
    height: 100vh;
    /* margin-top: -56px;
    padding-top: 56px; */
}

.btn-large {
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

#jspsych-experiment {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}
.exp-results p {
    text-align: left;
    max-width: 600px;
}
.exp-results .exp-data {
    padding: 1rem;
    margin-top: 1rem;
}

pre {
  text-align: left;
  font-size: 0.7rem;
  background: #eee;
}

.icon {
  margin: 0 0 2rem;
  width: 180px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.instructions {
  width: 280px;
}

.icon.charity {
  background-image: url('/images/protestor-icon.png');
}
.icon.anti-charity {
  background-image: url('/images/anti-protestor-icon.png');
}
.icon.game {
  background-image: url('/images/game-icon.png');
}
.icon.self {
  background-image: url('/images/self-icon.png');
  border: 1px solid #aaa;
}

.task-manager,
.surveySection {
    height: 100%;
}

.survey-issues-bg {
    background: url('/images/issues-bg.png');
}

.green-bg {
    background: lightgreen;
}

.black-bg {
    background: black;
}

.surveySection h1 {
    padding: 1rem;
    background: white;
}

.thinker-icon-center:after {
    content: "";
    position: absolute;
    background-image: url(/images/thinker.png);
    background-repeat: no-repeat;
    
    background-size: 197px auto;
    bottom: 0;
    height: 270px;
    width: 197px;
    z-index: 10;

    left: 50%;
    transform: translateX(-50%);
}

.thinker-icon-bottom-left:after {
    content: "";
    position: absolute;
    background-image: url(/images/thinker.png);
    background-repeat: no-repeat;
    
    left: 50px;
    bottom: 0;
    height: 217px;
    width: 157px;
    background-size: 157px auto;
    z-index: 10;
}