#jspsych-experiment.fullscreen {
    cursor: none;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-size: 0.9rem;
}
.instructions.charity,
.instructions.anti-charity {
    flex-direction: row;
}

.instructions-response {
    height: 200px;
    font-size: 0.9rem;
}

.icon.charity,
.icon.anti-charity {
    background-size: 310px;
    background-position: -25px -30px;
    height: 360px;
    width: 320px;
    position: relative;
}
.icon.cue.charity,
.icon.cue.anti-charity {
    background-position: 0px -30px;
}

.icon.charity {
    background-image: url('/images/protestor-smile.png');
}
.icon.anti-charity {
    background-image: url('/images/protestor-frown.png');
}

.icon .protest-sign  {
    display: none;
    justify-content: center;
    align-items: center;
    color: #666;
    position: absolute;
    height: 130px;
    width: 165px;
    top: 21px;
    left: 50px;
    font-size: 1.3rem;
    transform: rotateZ(1deg);
}
.icon.cue.charity .protest-sign,
.icon.cue.anti-charity .protest-sign{
    left: 76px;
}

.protest-sign .protest-sign-position {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}
@media screen and (min-width: 840px) {
    .icon .protest-sign  {
        display: flex;
    }
}
/* .icon.anti-charity:after {
    content: "FOR \A Something!!!!";
    white-space: pre;
    font-weight: bold;
    color: #aaa;
    position: absolute;
    top: 0;
    left: 0;
} */

.icon.game {
    background-image: url('/images/game-icon.png');
}
.icon.self {
    background-image: url('/images/self-icon.png');
    border: 1px solid #aaa;
}
/* .icon.moneybag {
    background-image: url('/images/moneybag-icon.png');
} */
  

@media only screen and (min-width: 900px) {
    .instructions-response, 
    .instructions {
        font-size: 1rem;
    }
    
    .instructions .icon {
        /* width: 280px;
        height: 200px; */

        /* height: 200px;
        width: 350px;
        background-color: #bada55; */
    }
}

.instructions .copy p {
  max-width: 800px;
}

.instructions .continue-btn {
    margin-top: 67px;
    margin-bottom: 100px;
    height: 33px;
}
.instructions + #jspsych-fullscreen-btn {
    /* margin-top: 67px; */
    margin-bottom: 100px;
    height: 33px;
}

.endHAQ .question-header,
.midEAQ .question-header {
    max-width: 800px;
    margin: 2rem 0;
}
.endHAQ .question-header {
    font-size: 1.6rem;
    line-height: 1.4;
}
.midEAQ .question-header {
    font-size: 2rem;
}









    /* NUMBERED SCALE */
#ms-selection-response-stimulus {
    font-weight: bold;
    font-size: 1.4rem;
    max-width: 720px;
}
#ms-selection-response-prompt {
    margin-top: 3rem;
}
#ms-selection-response-prompt p {
    margin-top: 1rem;
}

.numbered-scale {
    position: relative;
}
.numbered-scale .grid-line {
    position: absolute;
    width: 400px;
    border-bottom: 1px solid #aaa;

    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.numbered-scale .items {
    display: flex;
    align-items: flex-end;
    width: 500px;
    margin: auto;
}
.numbered-scale .items span {
    display: block;
}
.numbered-scale .items div {
    width: 20%;
    z-index: 10;
}
.numbered-scale-tick {
    height: 25px;
    width: 25px;
    margin: auto;
    font-size: 8px;
}
.numbered-scale-tick.selected {
    background: #367ebd;
    border-radius: 50%;
    color: #367ebd
}




.feedback {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.feedback-message {
    font-weight: bold;
    font-size: 2rem;
}
.feedback-points {
    margin: 2rem 0;
    font-size: 1.5rem;
}

@media screen and (min-width: 1060px) {
    .feedback-message {
        font-size: 4rem;
    }
    .feedback-points {
        margin: 4rem 0;
        font-size: 3rem;
    }   
}


    /* ARROWS */
/* .feedback-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.arrowhead-up {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;  
    border-bottom: 15px solid black;
}
.arrowhead-down {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;  
    border-top: 15px solid black;
}
.arrowshaft {
    width: 10px;
    background: black;
    flex-grow: 1;
} */