#jspsych-experiment.fullscreen {
    cursor: none;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.instructions .icon {
  margin: 0 0 2rem;
  width: 280px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.instructions .copy p {
  max-width: 800px;
  text-align: left;
}